@page
@model LeVietHungRazorPages.Pages.LoginModel
@{
}
<head>
    <style>
    </style>
</head>
<h1>Login</h1>
<form method="post" asp-page="Login">
    <div style="width: 400px">
        <div class="d-flex mt-3 mb-3 gap-3" style="justify-content: space-between; flex-direction: column">
            <label>Email</label>
            <input type="text"
                   style="
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;"
                   asp-for="Email"/>
        </div>
        <div class="d-flex mt-3 mb-3 gap-3" style="justify-content: space-between; flex-direction: column">
            <label>Password</label>
            <input type="password"
                   style="
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;"
                   asp-for="Password"/>
        </div>
        <div style="display: flex; justify-content: center">
            <button type="submit" class="btn btn-primary" style=" width: 80%; border: 1px solid #ccc;
            border-radius: 5px">
                Login
            </button>
        </div>
    </div>
</form>
