@page
@model LeVietHungRazorPages.Pages.Admin.ViewBookingModel
@{
}
<h1>Reservation List</h1>

<table class="table table-hover mt-4">
    <thead style="background-color: #2d3748; color: white">
        <tr>
            <th style="width: 320px">
                Booking Reservation ID
            </th>
            <th style="width: 250px">
                Booking Date
            </th>
            <th style="width: 250px">
                Total Price (VND)
            </th>
            <th style="width: 200px">
                Booking Status
            </th>
            <th style="width: 190px">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookingInformation)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingReservationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @if (item.BookingStatus == 1)
                    {
                        <div style="background-color: #d6f0e0;
                                    font-weight: 600;
                                    color: #0d6832;
                                    height: 30px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 18px;">
                            Checked out
                        </div>
                    }
                    else
                    {
                        <div style="font-weight: 600;
                                    height: 30px;
                                    background-color: #fbf0da;
                                    color: #73510d;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 18px;">
                            Haven't checked out
                        </div>
                    }
                </td>
                <td>
                    <a asp-page="/ReservationManagement/Detail" asp-route-id="@item.BookingReservationId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="/Admin/Index">View Room</a>
</div>
@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script type="text/javascript">
        const connection = new signalR.HubConnectionBuilder().withUrl("/roomHub").build();

        connection.on("ReceiveRoomUpdate", function (roomId, status) {
            window.location.reload();
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

    </script>
}


