<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LeVietHungRazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LeVietHungRazorPages.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">LeVietHungRazorPages</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a id="roomButton" class="nav-link text-dark" asp-area="" asp-page="/RoomManagement/Index">Room</a>
                        </li>
                        <li class="nav-item">
                            <a id="reservationButton" class="nav-link text-dark" asp-area="" asp-page="/ReservationManagement/Index">View Booking Reservation</a>
                        </li>
                        <li class="nav-item">
                            <a id="loginButton" class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <button id="logoutButton" class="nav-link btn btn-link text-dark">Logout</button>
                        </li>
                    </ul>
                    <span id="customerName" class="nav-link text-dark"></span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LeVietHungRazorPages - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Lấy giá trị của cookie có tên "Customer"
            var customerCookie = getCookie("Customer");

            // Kiểm tra xem cookie có chứa thông tin Customer hay không
            if (customerCookie) {
                // Ẩn nút "Login"
                document.getElementById("loginButton").style.display = "none";
                var customer = JSON.parse(customerCookie);
                var customerName = customer.CustomerFullName; // Giả sử tên khách hàng được lưu trong trường "name"
                document.getElementById("customerName").innerText = customerName;
            } else {
                document.getElementById("logoutButton").style.display = "none";
                document.getElementById("reservationButton").style.display = "none";
                document.getElementById("roomButton").style.display = "none";
            }
        });
        document.addEventListener("DOMContentLoaded", function () {
            var logoutButton = document.getElementById("logoutButton");
            if (logoutButton) {
                logoutButton.addEventListener("click", function () {
                    document.cookie = "Customer=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    window.location.reload();
                    window.location.href = "/Login";
                });
            }
        });
        // Hàm lấy giá trị của cookie theo tên
        function getCookie(name) {
            var nameEQ = name + "=";
            var cookies = decodeURIComponent(document.cookie).split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.indexOf(nameEQ) === 0) {
                    return cookie.substring(nameEQ.length, cookie.length);
                }
            }
            return null;
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>